$group_color: #00a98f;
$channel_color: #f4e000;
$superchannel_color: #957333;
$band_color: #bd6c08;
$stash_color: #00a6cf;
$hoard_color: #59b7c6;
$superhoard_color: #9e414d;
$herd_color: #752c39;
$container_border_color: #7b7b7b;

$filter_active_color: #00a98f;
$filter_inactive_color: #00a7ce;
$filter_alerts_color: #ff495c;
$filter_null_color: #7b7b7b;