.container, .jumbotron {
  min-width: 375px;
}

.open .dropdown-menu {
  display: block;
}
.dropdown-menu {
  left: auto;
  right: 0;
}

.padding-null {
  padding: 0 !important;
}

.margin-null {
  margin: 0 !important;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.badge {
  font-size: 85%;
}
.badge-info {
  background-color: $filter_inactive_color;
}
.badge-success {
  background-color: $filter_active_color;
}
.badge-danger {
  background-color: $filter_alerts_color;
}

.modal-backdrop {
  background: rgba(0,0,0,0.6);
}

.form-control-sm {
  color: #52575C;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
}

label.required:after {
  content: '*';
  color: red;
  position: relative;
  right: -5px;
}