.filter-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $filter_null_color;
}

.filter-indicator.filter-active {
  border: 2px solid #0a7a63;
}
.filter-indicator.filter-active.on {
  background: $filter_active_color;
}

.filter-indicator.filter-inactive {
  border: 1px solid #006580;
}
.filter-indicator.filter-inactive.on {
  background: $filter_inactive_color;
}

.filter-indicator.filter-alerts {
  border: 2px solid #802528;
}
.filter-indicator.filter-alerts.on {
  background: $filter_alerts_color;
}

.dropdown-item .filter-indicator {
  position: relative;
  top: 5px;
}

.filter-all {
  width: 50px;
  padding: 15px 0;
  text-align: right;
}

.filter-summary {
  white-space: nowrap;
}

.filter-summary .label {
  display: inline-block;
  position: relative;
  top: -5px;
}
