.side-bar {
  width: 58px;
  padding-top: 46px;

  .side-bar-toggler {
    width: 58px;
    display: none;
  }
}

.create-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.create-icon-sensor {
  background-image: url("../images/icons/sensor-icon.png");
}

.disabled .create-icon-sensor {
  background-image: url("../images/icons/sensor-create-icon-inactive.png");
}

.create-icon-group {
  background-image: url("../images/icons/group-icon.png");
}

.disabled .create-icon-group {
  background-image: url("../images/icons/group-create-icon-inactive.png");
}

.create-icon-channel {
  background-image: url("../images/icons/channel-icon.png");
}

.disabled .create-icon-channel {
  background-image: url("../images/icons/channel-create-icon-inactive.png");
}

.create-icon-superchannel {
  background-image: url("../images/icons/super-channel-icon.png");
}

.disabled .create-icon-superchannel {
  background-image: url("../images/icons/super-channel-create-icon-inactive.png");
}

.create-icon-band {
  background-image: url("../images/icons/band-icon.png");
}

.disabled .create-icon-band {
  background-image: url("../images/icons/band-create-icon-inactive.png");
}

.create-icon-stash {
  background-image: url("../images/icons/stash-icon.png");
}

.disabled .create-icon-stash {
  background-image: url("../images/icons/stash-create-icon-inactive.png");
}

.create-icon-hoard {
  background-image: url("../images/icons/hoard-icon.png");
}

.disabled .create-icon-hoard {
  background-image: url("../images/icons/hoard-create-icon-inactive.png");
}

.create-icon-superhoard {
  background-image: url("../images/icons/super-hoard-icon.png");
}

.disabled .create-icon-superhoard {
  background-image: url("../images/icons/super-hoard-create-icon-inactive.png");
}

.create-icon-herd {
  background-image: url("../images/icons/herd-icon.png");
}

.disabled .create-icon-herd {
  background-image: url("../images/icons/herd-create-icon-inactive.png");
}

.create-icon-sensorspace {
  background-image: url("../images/icons/sensorspace-icon.png");
}

.disabled .create-icon-sensorspace {
  background-image: url("../images/icons/sensorspace-create-icon-inactive.png");
}

.create-label {
  position: relative;
  top: -3px;
  padding-left: 15px;
  display: none;
}

@media (min-width: 1200px) {
  .side-bar {
    width: 230px;
    padding-top: 14px;

    .side-bar-toggler {
      display: inline-block;

      i {
        font-size: 20px;
      }
    }
    .collapser {
      display: inline-block;
    }
    .expander {
      display: none;
    }
    .create-label {
      display: inline-block;
    }
    &.collapsed {
      width: 58px;

      .collapser {
        display: none;
      }
      .expander {
        display: inline-block;
      }
      .create-label {
        display: none;
      }
    }
  }
}
