.sensor-container.users {
  .container-header h3 {
    background-image: url("../images/icons/user-icon.png");
    background-size: 27px;
  }
  .container-actions > div {
    float: none;
  }

  .table-users {
    th, td {
      width: 16.666666667%;
    }
  }
  .table-roles {
    .role-info {
      padding: .25rem;
    }
    .list-group:nth-child(2) {
      margin-top: 5px;
    }
    .list-group-item {
      padding: .25rem 1.25rem;
    }
    th, td {
      //width: 20%;
    }
  }
}

.table-filter td {
  padding: .25rem;
}
